﻿@page
@model SWP391_G1.Pages.UserClients.Products.IndexModel
@{
    ViewData["Title"] = "Our Products";
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
}
<link href="~/css/productmenu.css" rel="stylesheet" />
<div class="menu pb-3" style="background-color:#fde9f0">
    <div class="row pt-5 mb-5 me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5">
        <h1 class="text-center ">Our Products</h1>
        </div>
        <div class="col-8 ms-5 me-5 ps-5">
            <form>
                <p>Category:</p>
                <div class="input-group mt-3">
                    <select class="form-select" asp-for="CategoryId" name="CategoryId" onchange="this.form.submit()">
                        <option value=0>All</option>
                        @foreach (var item in Model.ProductCategory)
                        {
                            <option value=@item.CategoryId>@item.CategoryName</option>
                        }
                    </select>
                </div>

                <div class="input-group mt-3">
                    <input type="search" class="form-control rounded me-1" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                    <button type="submit" class="btn btn-outline-primary btn_custom">Search</button>
                </div>
              
            </form>
        </div>
    </div>
    <div class="row pe-0 me-0 ms-0">      
        <div class="col-12 list-item">
            <div class="row" style="display:flex">
                @foreach (var item in Model.Products)
                {
                    <div class="col-md-3 d-flex align-items-stretch">
                        <div class="card card-product card-plain no-shadow">
                            <div class="card-header card-header-image">
                                <img src="@item.ProductImage" alt="product Image" style="width: -webkit-fill-available;height: -webkit-fill-available;">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.ProductName</h5>                               
                            </div>
                            <div class="card-footer d-inline">
                                <div class="card-footer d-inline justify-content-between align-items-center d-flex">
                                    <span class="card-text">@item.Category.CategoryName</span>
                                    <span class="card-text">@item.ProductPrice.ToString("N0") VND</span>
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <form method="post" >
                                        <input type="submit" class="btn btn-outline-primary btn_addtocart" asp-page-handler="AddToCart" asp-route-id="@item.ProductId" value="Add To Cart" style="margin-top: 10px;" />
                                    </form>                              
                                </div>
                            </div>                                                         
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5"></div>
        <div class="col-8">
            <div class="row mt-5">
                <div class="col-12 d-flex align-items-center justify-content-center text-white">
                    <a href="/UserClients/Products/proindex?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging-1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled" style="background-color:burlywood">Previous</a>
                    <a href="/UserClients/Products/proindex?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging+1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled" style="background-color:burlywood">Next</a>
                    Page: @Model.IndexPaging/@Model.TotalPage
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
