﻿@page
@using Microsoft.EntityFrameworkCore;
@using SWP391_G1.Models;
@model SWP391_G1.Pages.UserClients.Products.ProductCartModel
@{
    SakuraCosmeticContext context = new SakuraCosmeticContext();
}
<link href="~/css/Cart.css" rel="stylesheet" />
<div class="main-cart">
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">

                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">@Model.countItem items</div>
                    </div>
                </div>
                @foreach (var item in Model.Cart)
                {
                    Product product = context.Products.Include(x => x.Category).FirstOrDefault(x => x.ProductId == item.ProductId);
                    <div class="row border-top border-bottom">
                        <div class="main main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="@product.ProductImage"></div>
                            <div class="col">
                                <div class="row text-muted">@Html.DisplayFor(modelItem => product.Category.CategoryName)</div>
                                <div class="row">@Html.DisplayFor(modelItem => product.ProductName)</div>
                            </div>
                            <div class="col">
                                <div class="btn-group" role="group" aria-label="Quantity">
                                    <form asp-page-handler="RemoveFromCart" asp-route-id="@item.RecordId" method="post">
                                        <button class="btn btn-dark">-</button>
                                    </form>
                                    <a href="#" class="">@Html.DisplayFor(modelItem => item.Count)</a>
                                    <form asp-page-handler="IncreaseFromCart" asp-route-id="@item.RecordId" method="post">
                                        <button class="btn btn-dark">+</button>
                                    </form>
                                </div>
                            </div>
                            @{
                                var totalItem = product.ProductPrice * item.Count;
                                var formattedTotal = totalItem.ToString("N0");
                            }
                            <form asp-page-handler="Remove" asp-route-id="@item.RecordId" method="post">
                                <div class="col">@Html.DisplayFor(modelItem => formattedTotal) VND &nbsp;&nbsp;<button class="btn btn-dark">&#10005;</button></div>
                            </form>
                        </div>
                    </div>
                }

                <div class="back-to-shop"><a asp-page="/Userclients/Products/Index">&leftarrow; <span class="text-muted">Back to home</span></a></div>
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;"></div>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">@Model.total.ToString("N0") VND</div>
                </div>
                <form method="post" asp-page-handler="checkout">
                    <button type="submit" class="btn rounded" id="btn_checkout">Check out</button>
                </form>
            </div>
        </div>

    </div>


</div>