﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h2>Our Technology</h2>
    <div id="blogCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#blogCarousel" data-slide-to="1"></li>
            <li data-target="#blogCarousel" data-slide-to="2"></li>
            <li data-target="#blogCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            @foreach(var item in Model.blogs)
            {
                <div class="carousel-item @(item == Model.blogs.First() ? "active" : "")">
                    <img class="d-block w-100" src="@item.BlogImageUrl" alt="Blog @item.BlogId" style="width:1200px;height:900px">
                    <div class="carousel-caption">
                        <h3>@item.BlogTitle</h3>
                    </div>
                </div>
            }
            
            
        </div>
        <a class="carousel-control-prev" href="#blogCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#blogCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        
    </div>
    <div  style="display:flex;justify-content:center;align-items:center;padding:5rem;">
        <a href="/UserClients/Blogs" class="btn-grad" type="button">See more about us</a>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="background-color: #f8f9fc;">
    <h2>Our Products</h2>
    <div>
            <a class="goto" href="/UserClients/Products/Index">Go to see more <i class="fa-solid fa-circle-right fa-beat"></i></a>
    </div>    
    </div>
    <div class="row">
        @foreach(var item in Model.products)
        {
            <div class="col-md-3">
                <div class="product-card">
                    <a href="#"><img src="@item.ProductImage" style="width:400px;height:200px" /></a>
                </div>
            </div>
        }

    </div>
    
    <div class="d-flex justify-content-between align-items-center" style="background-color: #f8f9fc;">
        <h2>Our Services</h2>
        <div>
            <a class="goto" href="/UserClients/Services/Index">Go to see more <i class="fa-solid fa-circle-right fa-beat"></i></a>
        </div>
    </div>
        <div class="row">
            @foreach(var item in Model.services)
            {
                <div class="col-md-4 text-center">
                    <div class="service-card">                       
                        <img class="d-block" src="@item.ServiceImage" style="width:400px;height:200px">
                        <h4>@item.ServiceName</h4>
                    </div>
                </div>
            }

        </div>
</div>
<style>
    .product-card {
        height: 200px;
        background-color: #f5f5f5;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        text-align: center;
        font-size: 20px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        margin-top: -1px;
    }

    .carousel-control-prev {
        left: 10px;
    }

    .carousel-control-next {
        right: 10px;
    }

    .btn-grad {
        background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }

    .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
    }
    .goto{
        font-size:25px;
        margin-left:10px;
        text-decoration: underline;
    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />