﻿@page
@model SWP391_G1.Pages.Auth.ChangePasswordModel

@{
}

@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .notification-box {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        max-width: 400px;
        text-align: center;
    }

        .notification-box h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .notification-box button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
</style>

@if (HttpContext.Session.GetString("NotificationSuccess") != null)
{
    <div class="overlay">
        <div class="notification-box">
            <h1>@HttpContext.Session.GetString("NotificationSuccess")</h1>
            <button onclick="redirectToLogin()">OK</button>
        </div>
    </div>
    HttpContext.Session.Clear();
}
<div class="extended-container">

    <div id="container" class="container j-container">
        <div id="content" class="col-sm-12">
        </div>
        <form method="post" class="form-horizontal">
            <fieldset id="account">
                <h2 class="secondary-title">Change Password</h2>
                <input type="hidden" value="3" name="customer_group_id">

                <div class="form-group required">
                    <label class="col-sm-2 control-label">Mật Khảu Hiện Tại:</label><div class="col-sm-10">
                        <input type="text" name="password" value="" id="input-email" class="form-control">
                        @if (!string.IsNullOrEmpty(Model.ErrorPassword))
                        {
                            <div style="color: red;">@Model.ErrorPassword</div>
                        }

                    </div>
                </div>
                <fieldset>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">Mật Khẩu Mới:</label><div class="col-sm-10">
                            <input type="password" name="new_password" value="" placeholder="Mật Khẩu:" id="input-password" class="form-control">

                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">Nhập lại Mật Khẩu:</label><div class="col-sm-10">
                            <input type="password" name="confirm" value="" placeholder="Nhập lại Mật Khẩu:" id="input-confirm" class="form-control">
                            @if (!string.IsNullOrEmpty(Model.Error_Confirm))
                        {
                                <div style="color: red;">@Model.Error_Confirm</div>
                        }

                        </div>
                    </div>
                </fieldset>



                <br>
                <br>
                <div class="buttons">
                    <div class="pull-right">
                        <input type="submit" value="Đổi Mật Khẩu" class="btn btn-primary button">
                    </div>
                </div>
        </form>
    </div>
</div>
        </div>
    </div>
<script>
    function redirectToLogin() {
        window.location.href = "/Auth/Login"; // Thay đổi "/Login" thành đường dẫn tới form Login của bạn
    }
</script>


<script type="text/javascript">
    $('#register-form').submit(function () {
        var email = $('#input-email').val(); if (email) { sendemailinfo(email); }
        return true;
    });</script>
<script type="text/javascript">
    $('#account .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) { $('#account .form-group').eq($(this).attr('data-sort')).before(this); }
        if ($(this).attr('data-sort') > $('#account .form-group').length) { $('#account .form-group:last').after(this); }
        if ($(this).attr('data-sort') < -$('#account .form-group').length) { $('#account .form-group:first').before(this); }
    }); $('#address .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#address .form-group').length) { $('#address .form-group').eq($(this).attr('data-sort')).before(this); }
        if ($(this).attr('data-sort') > $('#address .form-group').length) { $('#address .form-group:last').after(this); }
        if ($(this).attr('data-sort') < -$('#address .form-group').length) { $('#address .form-group:first').before(this); }
    }); $('input[name=\'customer_group_id\']').on('change', function () { $.ajax({ url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value, dataType: 'json', success: function (json) { $('.custom-field').hide(); $('.custom-field').removeClass('required'); for (i = 0; i < json.length; i++) { custom_field = json[i]; $('#custom-field' + custom_field['custom_field_id']).show(); if (custom_field['required']) { $('#custom-field' + custom_field['custom_field_id']).addClass('required'); } } }, error: function (xhr, ajaxOptions, thrownError) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); } }); }); $('input[name=\'customer_group_id\']:checked').trigger('change');</script>
<script type="text/javascript">
    $('button[id^=\'button-custom-field\']').on('click', function () {
        var node = this; $('#form-upload').remove(); $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>'); $('#form-upload input[name=\'file\']').trigger('click'); if (typeof timer != 'undefined') { clearInterval(timer); }
        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer); $.ajax({
                    url: 'index.php?route=tool/upload', type: 'post', dataType: 'json', data: new FormData($('#form-upload')[0]), cache: false, contentType: false, processData: false, beforeSend: function () { $(node).button('loading'); }, complete: function () { $(node).button('reset'); }, success: function (json) {
                        $(node).parent().find('.text-danger').remove(); if (json['error']) { $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>'); }
                        if (json['success']) { alert(json['success']); $(node).parent().find('input').attr('value', json['code']); }
                    }, error: function (xhr, ajaxOptions, thrownError) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); }
                });
            }
        }, 500);
    });</script>
<script type="text/javascript">$('.date').datetimepicker({ pickTime: false }); $('.time').datetimepicker({ pickDate: false }); $('.datetime').datetimepicker({ pickDate: true, pickTime: true });</script>
<script type="text/javascript">
    if ($('#accc_aff_data div').length < 1) $('#accc_aff_data').hide(); if ($('#accc_create_account_checkbox').is(':checked')) { $('#accc_aff_data').show(); $('#accc_affiliate_agree').show(); } else { $('#accc_aff_data').hide(); $('#accc_affiliate_agree').hide(); }
    $(document).on('click', '#accc_create_account_checkbox', function () { if ($(this).is(':checked')) { $('#accc_aff_data').show(); $('#accc_affiliate_agree').show(); } else { $('#accc_aff_data').hide(); $('#accc_affiliate_agree').hide(); } }); $('input[name=\'payment\']').on('change', function () { $('.payment').hide(); $('#payment-' + this.value).show(); }); $('input[name=\'payment\']:checked').trigger('change');</script>
</div>