﻿@page
@model SWP391_G1.Pages.Auth.EnterCodeModel
@{
}

@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<h1>Nhập mã xác nhận</h1>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger">@ViewData["Message"]</div>
}

<form method="post">
    <div class="form-group">
        <label for="code">Mã xác nhận:</label>
        <input type="text" id="code" class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Xác nhận</button>
</form>
