﻿@page
@model SWP391_G1.Pages.Auth.LoginModel
@{
}
@*<form>
    Username: <input type="text" />

    PassWord:   <input type="password" />

    <input type="submit" value="Login" />
</form>*@
@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<style>
    .signin-by-social {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-box {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

        .social-box a {
            display: flex;
            align-items: center;
            background-color: #3b5998; /* Màu sắc Facebook */
            color: #fff;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
        }

            .social-box a .social-icon {
                margin-right: 5px;
            }

                .social-box a .social-icon img {
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                }

            .social-box a .social-text {
                font-weight: bold;
            }
</style>


<div class="row">
    <div id="content" class="col-sm-12">
        <div class="row login-content">
            <div class="col-sm-6 left">
                <div class="well">
                    <h2 class="secondary-title">Khách hàng mới</h2><div class="login-wrap">
                        <p><strong>Đăng kí tài khoản</strong></p><p>Bằng cách tạo tài khoản bạn sẽ có thể mua sắm nhanh hơn, cập nhật tình trạng đơn hàng, theo dõi những đơn hàng đã đặt.</p><div class="signin-by-social">
                            <div>
                                <div class="signin-by-social">
                                    <div class="social-box">
                                        <a class="btn-facebook btn-md" href="/api/facebook/login">
                                            <span class="social-icon">
                                                <img src="https://tse1.mm.bing.net/th?id=OIP.0NrOm1z0xVQQy20AAc1VHQHaHa&pid=Api&rs=1&c=1&qlt=95&w=111&h=111">
                                            </span>
                                            <span class="social-text">Facebook</span>
                                        </a>
                                    </div>
                                    <div class="social-box">
                                        <a class="btn-google btn-md">
                                            <span class="social-icon">
                                                <img src="https://tse4.mm.bing.net/th?id=OIP.D6P-BO32wCApcPIIjt6p5wHaHa&pid=Api&P=0&h=180" alt="Google Logo">
                                            </span>
                                            <span class="social-text">Google</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><hr>
                    <a href="/Auth/Register" class="btn btn-primary button">Đăng Ký Tài Khoản</a>
                </div>
            </div><div class="col-sm-6 right">
                <div class="well">
                    <h2 class="secondary-title">Khách hàng cũ</h2>
                    <form method="post">
                        <div class="login-wrap">
                            <p>Tôi là khách hàng cũ</p>
                            <div class="form-group">
                                <label class="control-label" for="username">Tài Khoản:</label>
                                <input type="text" placeholder="nhập username:" class="form-control" name="username" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Mật khẩu:</label>
                                <input type="password" placeholder="Mật khẩu:" class="form-control" name="password" />
                                <div class="signin-by-social"></div>
                                @if (!string.IsNullOrEmpty(Model.errorPassword))
                                {
                                    <div style="color: red;">@Model.errorPassword</div>
                                }
                                <a href="/Auth/ForgetPassword">Quên mật khẩu</a>
                            </div>
                        </div>
                        <hr>
                        <input type="submit" value="Đăng nhập">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>