﻿@page
@model SWP391_G1.Pages.Auth.RegisterModel

@{
}

@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .notification-box {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        max-width: 400px;
        text-align: center;
    }

        .notification-box h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .notification-box button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
</style>

@if (HttpContext.Session.GetString("NotificationSuccess") != null)
{
    <div class="overlay">
        <div class="notification-box">
            <h1>@HttpContext.Session.GetString("NotificationSuccess")</h1>
            <button onclick="redirectToLogin()">OK</button>
        </div>
    </div>
    HttpContext.Session.Clear();
}
<div class="extended-container">
   
    <div id="container" class="container j-container">
        <ul class="breadcrumb"><li><a href="https://www.kosmebox.com/index.php?route=common/home">Trang chủ</a></li><li><a href="https://www.kosmebox.com/index.php?route=account/account">Tài khoản</a></li><li><a href="https://www.kosmebox.com/index.php?route=account/register">Đăng Kí</a></li></ul><div class="row">
            <div id="content" class="col-sm-12">
                <h1 class="heading-title">Đăng Kí Tài Khoản</h1><div class="login-wrap">
                    <p>Bằng cách tạo tài khoản bạn sẽ có thể mua sắm nhanh hơn, cập nhật tình trạng đơn hàng, theo dõi những đơn hàng đã đặt.</p><div class="signin-by-social">
                        <div>
                            <a class="btn-facebook btn-md" href="/api/facebook/login"><span>Facebook</span></a>
                            <a class="btn-google btn-md" href="/api/loging"><span>Google</span></a>
                        </div>
                    </div>
                </div><p class="account-text">Nếu bạn đã đăng kí tài khoản, vui lòng đăng nhập tại <a href="/Auth/Login">đây</a>.</p><div class="content">
                    <form method="post" class="form-horizontal">
                        <fieldset id="account">
                            <h2 class="secondary-title">Thông tin cá nhân</h2>
                            <input type="hidden" value="3" name="customer_group_id">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-firstname">Tên:</label><div class="col-sm-10">
                                    <input type="text" name="name" value="" placeholder="Tên:" id="input-firstname" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" >Tài Khoản:</label><div class="col-sm-10">
                                    <input  type="text" name="username" value=""  placeholder="Nhập tài khoản:" id="input-email" class="form-control">
                                    @if (!string.IsNullOrEmpty(Model.ErrorUser))
                                    {
                                        <div style="color: red;">@Model.ErrorUser</div>
                                    }
                                   
                                </div>
                            </div>
                            <fieldset>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-password">Mật Khẩu:</label><div class="col-sm-10">
                                        <input type="password" name="password" value="" placeholder="Mật Khẩu:" id="input-password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-confirm">Nhập lại Mật Khẩu:</label><div class="col-sm-10">
                                        <input type="password" name="confirm" value="" placeholder="Nhập lại Mật Khẩu:" id="input-confirm" class="form-control">
                                        @*<div id="password-error" style="color: red;"></div>*@
                                        @if (!string.IsNullOrEmpty(Model.ErrorComfirm))
                                        {
                                            <div style="color: red;">@Model.ErrorComfirm</div>
                                        }
                                       
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-telephone">Điện Thoại:</label><div class="col-sm-10">
                                    <input type="text" name="phonenumber" value="" placeholder="Điện Thoại:" id="input-telephone" class="form-control">
                                    @*<div id="phone-error" style="color: red;"></div>*@
                                    @if (!string.IsNullOrEmpty(Model.ErrorMessagePhomeNumber))
                                    {
                                        <div  style="color: red;">@Model.ErrorMessagePhomeNumber</div>
                                    }
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-email">Địa chỉ Email:</label><div class="col-sm-10">
                                    <input type="email" name="email" value="" placeholder="Nhập Email:" id="input-email" class="form-control">
                                </div>
                            </div>
                        </fieldset>
                        <br><fieldset id="address">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-address-1">Địa chỉ:</label><div class="col-sm-10">
                                    <input type="text" name="address" value="" placeholder="Địa chỉ:" id="input-address-1" class="form-control">
                                </div>
                            </div>
                            <script type="text/javascript">window.NQT.cityname = ''; window.NQT.zone_id = '';</script>
                            <div class="vuecontainer" _v-51c15072=""> 
                                <div class="form-group required" _v-51c15072=""> 
                                    <label class="col-sm-2 control-label" for="input-zone" _v-51c15072="">Tỉnh / Thành phố</label> <div class="col-sm-10" _v-51c15072=""> <select name="city" id="input-zone-vue" class="form-control" _v-51c15072=""> <option _v-51c15072="" value="Hà Nội"> Hà Nội</option><option _v-51c15072="" value="Ho Chi Minh"> TP Hồ Chí Minh</option><option _v-51c15072="" value="Da Nang"> Đà Nẵng</option><option _v-51c15072="" value="Son La"> Sơn La</option><option _v-51c15072="" value="Yen Bai"> Yên Bái</option><option _v-51c15072="" value="134"> Lạng Sơn</option><option _v-51c15072="" value="135"> Hải Phòng</option><option _v-51c15072="" value="137"> Tuyên Quang</option><option _v-51c15072="" value="143"> Quảng Trị</option><option _v-51c15072="" value="144"> Bắc Giang</option><option _v-51c15072="" value="805"> Hải Dương</option><option _v-51c15072="" value="806"> Cần Thơ</option><option _v-51c15072="" value="807"> Hà Nam</option><option _v-51c15072="" value="808"> Lào Cai</option><option _v-51c15072="" value="811"> Nam Định</option><option _v-51c15072="" value="812"> Bình Thuận</option><option _v-51c15072="" value="816"> Hưng Yên</option><option _v-51c15072="" value="818"> Quảng Bình</option><option _v-51c15072="" value="819"> Quảng Ninh</option><option _v-51c15072="" value="821"> Nghệ An</option><option _v-51c15072="" value="823"> Đồng Nai</option><option _v-51c15072="" value="824"> Tiền Giang</option><option _v-51c15072="" value="826"> Bình Định</option><option _v-51c15072="" value="827"> Vĩnh Phúc</option><option _v-51c15072="" value="830"> Hà Giang</option><option _v-51c15072="" value="831"> Khánh Hòa</option><option _v-51c15072="" value="833"> An Giang</option><option _v-51c15072="" value="834"> Bà Rịa - Vũng Tàu</option><option _v-51c15072="" value="835"> Bắc Kạn</option><option _v-51c15072="" value="836"> Bạc Liêu</option><option _v-51c15072="" value="837"> Bắc Ninh</option><option _v-51c15072="" value="838"> Bến Tre</option><option _v-51c15072="" value="839"> Bình Dương</option><option _v-51c15072="" value="840"> Bình Phước</option><option _v-51c15072="" value="841"> Cà Mau</option><option _v-51c15072="" value="842"> Cao Bằng</option><option _v-51c15072="" value="843"> Đắk Lắk</option><option _v-51c15072="" value="844"> Đắk Nông</option><option _v-51c15072="" value="845"> Điện Biên</option><option _v-51c15072="" value="846"> Đồng Tháp</option><option _v-51c15072="" value="847"> Gia Lai</option><option _v-51c15072="" value="848"> Hà Tĩnh</option><option _v-51c15072="" value="849"> Hậu Giang</option><option _v-51c15072="" value="850"> Hòa Bình</option><option _v-51c15072="" value="851"> Kiên Giang</option><option _v-51c15072="" value="852"> Kon Tum</option><option _v-51c15072="" value="853"> Lai Châu</option><option _v-51c15072="" value="854"> Lâm Đồng</option><option _v-51c15072="" value="855"> Long An</option><option _v-51c15072="" value="856"> Ninh Bình</option><option _v-51c15072="" value="857"> Ninh Thuận</option><option _v-51c15072="" value="858"> Phú Thọ</option><option _v-51c15072="" value="859"> Quảng Nam</option><option _v-51c15072="" value="860"> Quảng Ngãi</option><option _v-51c15072="" value="861"> Sóc Trăng</option><option _v-51c15072="" value="862"> Tây Ninh</option><option _v-51c15072="" value="863"> Thái Bình</option><option _v-51c15072="" value="864"> Thái Nguyên</option><option _v-51c15072="" value="865"> Thanh Hóa</option><option _v-51c15072="" value="866"> Thừa Thiên Huế</option><option _v-51c15072="" value="867"> Trà Vinh</option><option _v-51c15072="" value="868"> Vĩnh Long</option><option _v-51c15072="" value="869"> Phú Yên</option> </select> </div> </div> <div class="form-group required" _v-51c15072="">
                                <label class="col-sm-2 control-label" for="input-city" _v-51c15072="">Quận huyện</label>
                                <div class="col-sm-10" _v-51c15072=""> <select name="state" id="input-zone-vue" class="form-control" _v-51c15072=""> <option _v-51c15072="" value="Ba Đình"> Ba Đình</option><option _v-51c15072="" value="Hoàn Kiếm"> Hoàn Kiếm</option><option _v-51c15072="" value="Tây Hồ"> Tây Hồ</option><option _v-51c15072="" value="Long Biên"> Long Biên</option><option _v-51c15072="" value="Cầu Giấy"> Cầu Giấy</option><option _v-51c15072="" value="Đống Đa"> Đống Đa</option><option _v-51c15072="" value="Hai Bà Trưng"> Hai Bà Trưng</option><option _v-51c15072="" value="Hoàng Mai"> Hoàng Mai</option><option _v-51c15072="" value="Thanh Xuân"> Thanh Xuân</option><option _v-51c15072="" value="Hà Đông"> Hà Đông</option><option _v-51c15072="" value="Sơn Tây"> Sơn Tây</option><option _v-51c15072="" value="Ba Vì"> Ba Vì</option><option _v-51c15072="" value="Chương Mỹ"> Chương Mỹ</option><option _v-51c15072="" value="Đan Phượng"> Đan Phượng</option><option _v-51c15072="" value="Đông Anh"> Đông Anh</option><option _v-51c15072="" value="Gia Lâm"> Gia Lâm</option><option _v-51c15072="" value="Hoài Đức"> Hoài Đức</option><option _v-51c15072="" value="Mê Linh"> Mê Linh</option><option _v-51c15072="" value="Mỹ Đức"> Mỹ Đức</option><option _v-51c15072="" value="Phú Xuyên"> Phú Xuyên</option><option _v-51c15072="" value="Phúc Thọ"> Phúc Thọ</option><option _v-51c15072="" value="Quốc Oai"> Quốc Oai</option><option _v-51c15072="" value="Sóc Sơn"> Sóc Sơn</option><option _v-51c15072="" value="Thạch Thất"> Thạch Thất</option><option _v-51c15072="" value="Thanh Oai"> Thanh Oai</option><option _v-51c15072="" value="Thanh Trì"> Thanh Trì</option><option _v-51c15072="" value="Thường Tín"> Thường Tín</option><option _v-51c15072="" value="Từ Liêm"> Từ Liêm</option><option _v-51c15072="" value="Ứng Hòa"> Ứng Hòa</option> </select> </div> </div> </div>
                            <div class="errorzone"></div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-country">Quốc Gia:</label><div class="col-sm-10">
                                    <select name="country" id="input-country" class="form-control">
                                        <option value=""> --- Chọn ---</option>
                                        <option value="Viet Nam" selected="selected">Viet Nam</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <br>
                        <div class="buttons">
                            <div class="pull-right">
                                <input type="submit" value="Đăng Ký" class="btn btn-primary button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function redirectToLogin() {
            window.location.href = "/Auth/Login"; // Thay đổi "/Login" thành đường dẫn tới form Login của bạn
        }
    </script>


    
    <script type="text/javascript">
               $('#register-form').submit(function () {
                   var email = $('#input-email').val(); if (email) { sendemailinfo(email); }
                   return true;
               });</script> <script type="text/javascript">
                                $('#account .form-group[data-sort]').detach().each(function () {
                                    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) { $('#account .form-group').eq($(this).attr('data-sort')).before(this); }
                                    if ($(this).attr('data-sort') > $('#account .form-group').length) { $('#account .form-group:last').after(this); }
                                    if ($(this).attr('data-sort') < -$('#account .form-group').length) { $('#account .form-group:first').before(this); }
                                }); $('#address .form-group[data-sort]').detach().each(function () {
                                    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#address .form-group').length) { $('#address .form-group').eq($(this).attr('data-sort')).before(this); }
                                    if ($(this).attr('data-sort') > $('#address .form-group').length) { $('#address .form-group:last').after(this); }
                                    if ($(this).attr('data-sort') < -$('#address .form-group').length) { $('#address .form-group:first').before(this); }
                                }); $('input[name=\'customer_group_id\']').on('change', function () { $.ajax({ url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value, dataType: 'json', success: function (json) { $('.custom-field').hide(); $('.custom-field').removeClass('required'); for (i = 0; i < json.length; i++) { custom_field = json[i]; $('#custom-field' + custom_field['custom_field_id']).show(); if (custom_field['required']) { $('#custom-field' + custom_field['custom_field_id']).addClass('required'); } } }, error: function (xhr, ajaxOptions, thrownError) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); } }); }); $('input[name=\'customer_group_id\']:checked').trigger('change');</script> <script type="text/javascript">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        $('button[id^=\'button-custom-field\']').on('click', function () {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            var node = this; $('#form-upload').remove(); $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>'); $('#form-upload input[name=\'file\']').trigger('click'); if (typeof timer != 'undefined') { clearInterval(timer); }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            timer = setInterval(function () {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                if ($('#form-upload input[name=\'file\']').val() != '') {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    clearInterval(timer); $.ajax({
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        url: 'index.php?route=tool/upload', type: 'post', dataType: 'json', data: new FormData($('#form-upload')[0]), cache: false, contentType: false, processData: false, beforeSend: function () { $(node).button('loading'); }, complete: function () { $(node).button('reset'); }, success: function (json) {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            $(node).parent().find('.text-danger').remove(); if (json['error']) { $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>'); }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            if (json['success']) { alert(json['success']); $(node).parent().find('input').attr('value', json['code']); }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        }, error: function (xhr, ajaxOptions, thrownError) { alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText); }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    });
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }, 500);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        });</script> <script type="text/javascript">$('.date').datetimepicker({ pickTime: false }); $('.time').datetimepicker({ pickDate: false }); $('.datetime').datetimepicker({ pickDate: true, pickTime: true });</script> <script type="text/javascript">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    if ($('#accc_aff_data div').length < 1) $('#accc_aff_data').hide(); if ($('#accc_create_account_checkbox').is(':checked')) { $('#accc_aff_data').show(); $('#accc_affiliate_agree').show(); } else { $('#accc_aff_data').hide(); $('#accc_affiliate_agree').hide(); }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    $(document).on('click', '#accc_create_account_checkbox', function () { if ($(this).is(':checked')) { $('#accc_aff_data').show(); $('#accc_affiliate_agree').show(); } else { $('#accc_aff_data').hide(); $('#accc_affiliate_agree').hide(); } }); $('input[name=\'payment\']').on('change', function () { $('.payment').hide(); $('#payment-' + this.value).show(); }); $('input[name=\'payment\']:checked').trigger('change');</script>
</div>