﻿@page
@model SWP391_G1.Pages.Auth.ResetPasswordModel
@{
}

@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}


<h1>Reset Password</h1>
<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .notification-box {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        max-width: 400px;
        text-align: center;
    }

        .notification-box h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .notification-box button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
</style>
@if (HttpContext.Session.GetString("NotificationSuccess") != null)
{
    <div class="overlay">
        <div class="notification-box">
            <h1>@HttpContext.Session.GetString("NotificationSuccess")</h1>
            <button onclick="redirectToLogin()">OK</button>
        </div>
    </div>
    HttpContext.Session.Clear();
}

<form method="post" class="form-horizontal">
    <fieldset id="account"> 
        <input type="hidden" value="3" name="customer_group_id">
        <fieldset>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-password">Mật Khẩu Mới:</label><div class="col-sm-10">
                    <input type="password" name="new_password" value="" placeholder="Mật Khẩu:" id="input-password" class="form-control">

                </div>
            </div>
            <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-confirm">Nhập lại Mật Khẩu:</label><div class="col-sm-10">
                    <input type="password" name="confirm" value="" placeholder="Nhập lại Mật Khẩu:" id="input-confirm" class="form-control">
                    @if (!string.IsNullOrEmpty(Model.Error_Confirm))
                    {
                        <div style="color: red;">@Model.Error_Confirm</div>
                    }

                </div>
            </div>
        </fieldset>
        <br>
        <br>
        <div class="buttons">
            <div class="pull-right">
                <input type="submit" value="Đổi Mật Khẩu" class="btn btn-primary button">
            </div>
        </div>
</form>
<script>
    function redirectToLogin() {
        window.location.href = "/Auth/Login"; // Thay đổi "/Login" thành đường dẫn tới form Login của bạn
    }
</script>