﻿.see-more {
    background-color: #13c5dd;
    color: white;
    width: 170px;
    height: 48px;
    border: none;
    border-radius: 100px;
}
.booking {
    background-color: #13c5dd;
    color: white;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 100px;
}
