﻿body {
    background-color: beige;
    background-size: cover;
    min-height: 88vh;
    /*    background-color: RGB(189 147 115);
*/
}

.btn_custom {
    color: black;
    border: 1px solid black;
}

    .btn_custom:hover {
        background-color: white;
        border: 1px solid white;
        color: #a67b5b;
    }

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: burlywood;
    background-color: transparent;
}

.btn_addtocart {
    color: RGB(166 123 91);
    border: 1px solid RGB(166 123 91);
}

    .btn_addtocart:hover {
        background-color: RGB(166 123 91);
    }


.menu .list-item {
    border-left: 1px solid white;
}

.menu .card {
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .menu .card .card-img-top {
        border-radius: 5px 5px 0 0;
    }

    .menu .card .card-body {
        text-align: start;
        padding: .9375rem 1.875rem;
    }

        .menu .card .card-body .card-title {
            margin-bottom: 1rem;
        }

.menu .btn_pre_next {
    width: 100px;
}
