﻿@page
@using SWP391_G1.Models
@model SWP391_G1.Pages.UserClients.Blogs.BlogDetailModel
@{
    SakuraCosmeticContext context = new SakuraCosmeticContext();
}
@{

    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-4">
                    <img src="@Model.Blog.BlogImageUrl" alt="Blog Image" class="img-fluid">

                    <p>Created on: @Model.Blog.DateModified.ToString()</p>
                </div>

                <div class="my-4">
                    <h3>@Model.Blog.BlogTitle</h3>
                    <h4>Description</h4>
                    <p style="font:30px;">@Model.Blog.Description</p>
                </div>

                <div class="my-4">
                    <h4>Comments</h4>
                    <form method="post" asp-page-handler="Comment">
                        <div class="mb-3">
                            <input asp-for="Blog.BlogId" type="hidden" name="BlogId" />
                            <input asp-for="Blog.BlogId" name="commentContext" type="text" class="form-control" placeholder="Leave a comment" id="commentInput">
                        </div>
                        @if (HttpContext.Session.GetInt32("id") == null)
                        {
                            <p style="font-size:smaller;font-style:italic;color:red">Bạn phải đăng nhập mới có thể comment.</p>
                            <button class="btn btn-primary" type="button" disabled>Comment</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="submit">Comment</button>
                        }
                    </form>

                    <script>
                        document.getElementById("commentInput").addEventListener("keydown", function (event) {
                            if (event.keyCode === 13) {
                                event.preventDefault();
                            }
                        });
                    </script>

                    <hr />


                    @*<input type="text" asp-for="BlogId" />*@
                    @foreach (var item in Model.Comments)
                    {
                        var user = context.Users.FirstOrDefault(u => u.UserId == item.UserId);

                        <div class="media mt-4">
                            <img src="@user.AvatarUrl" alt="User Avatar" class="mr-3 rounded-circle" style="width: 38px; height: 38px;">
                            <div class="media-body">
                                <h6 class="mt-0">@item.Comment1</h6>
                                <p></p> <br>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>

        <div class="row me-0 ms-0">
            <div class="col-2 ms-5 me-5 ps-5"></div>
            <div class="col-8">
                <div class="row mt-5">
                    <div class="col-12 d-flex align-items-center justify-content-center text-white">
                        <a href="/UserClients/Blogs/BlogDetail?id=@Model.BlogId&IndexPaging=@(Model.IndexPaging-1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled" style="background-color:burlywood">Previous</a>
                        <a href="/UserClients/Blogs/BlogDetail?id=@Model.BlogId&IndexPaging=@(Model.IndexPaging+1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled" style="background-color:burlywood">Next</a>
                        <p style="color:black">Page: @Model.IndexPaging/@Model.TotalPage</p>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>