﻿@page
@using SWP391_G1.Models;
@model SWP391_G1.Pages.UserClients.Blogs.IndexModel
@{
}


@{
    ViewData["Title"] = "Our Blogs";
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
}
<link href="~/css/productmenu.css" rel="stylesheet" />
<div class="menu pb-3" style="background-color:#dab67080">
    <div class="row pt-5 mb-5 me-0 ms-0">
        <h1 class="text-center text-white ">Our Blogs</h1>
    </div>
    <div class="row pe-0 me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5">
            <form>
                <p class="text-white">Blog:</p>
                <div class="input-group mt-3">
                    <select class="form-select" asp-for="CategoryId" name="CategoryId" onchange="this.form.submit()">
                        <option value=0>All</option>
                        @foreach (var item in Model.BlogCategory)
                        {
                            <option value=@item.Id>@item.CateName</option>
                        }
                    </select>
                </div>

                <div class="input-group mt-3">
                    <input type="search" class="form-control rounded me-1" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                   
                </div>
                <button type="submit" class="btn btn-outline-primary btn_custom" style="margin:10px">Search</button>
            </form>
        </div>
        <div class="col-8 list-item">
            <div class="row">
                @foreach (var item in Model.Blogs)
                {
                    <a href="/UserClients/Blogs/BlogDetail?id=@item.BlogId">
                    <div class="col-12 mt-2 mb-3">
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                   
                                        <!-- Chuyển hướng đến trang BlogDetail và truyền BlogId -->
                                       
                                        <img class="card-img-top" src="@item.BlogImageUrl" alt="Food Image">
                                 
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.BlogTitle</h5>
                                        <p class="card-text">Category: @item.Cate.CateName</p>
                                        <p class="card-text">Date: @item.DateModified</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                }
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5"></div>
        <div class="col-8">
            <div class="row mt-5">
                <div class="col-12 d-flex align-items-center justify-content-center text-white">
                    <a href="/UserClients/Blogs/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging-1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled" style="background-color:burlywood">Previous</a>
                    <a href="/UserClients/Blogs/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging+1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled" style="background-color:burlywood">Next</a>
                    Page: @Model.IndexPaging/@Model.TotalPage
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>


<style>
    .card {
        height: 100%;
    }
</style>