﻿@page
@using SWP391_G1.Models;
@model SWP391_G1.Pages.UserClients.CustomerOrder.IndexModel
@{
    SakuraCosmeticContext context = new SakuraCosmeticContext();
}
@{

    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";

    var prevDisabled1 = Model.IndexPagingService == 1 ? "disabled" : "";
    var nextDisabled1 = Model.IndexPagingService == Model.TotalPageService ? "disabled" : "";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Lịch sử mua hàng</title>
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
        }

            .table th, .table td {
                padding: 8px;
            }

            .table th {
                background-color: #f2f2f2;
                border: 1px solid #ddd;
            }

        .customer-info th {
            border-bottom: none;
        }

        .customer-info td {
            border-right: 1px solid #ddd;
            border-bottom: none;
        }

    </style>
</head>
<body>
    <h1>Thông tin cá nhân</h1>
    <table class="table">
        <tbody>
            <tr class="customer-info">
                <th colspan="4">Thông tin khách hàng</th>
            </tr>
            <tr class="customer-info">
                <td>Họ và Tên: </td>
                <td>@Model.User.FullName</td>
                <td>Mã Số Thuế</td>
                <td>___</td>
            </tr>
            <tr class="customer-info">
                <td>Số Điện Thoại</td>
                <td>@Model.User.Phone</td>
                <td>Website</td>
                <td>___</td>
            </tr>
            <tr class="customer-info">
                <td>Email</td>
                <td>@Model.User.Email</td>
                <td>Ngày sinh</td>
                <td>___</td>
            </tr>
            <tr class="customer-info">
                <td>Địa Chỉ</td>
                <td>@Model.User.Address</td>
                <td>Địa chỉ nhận hàng</td>
                <td>@Model.User.Address - @Model.User.State - @Model.User.City</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />


    <h2>Lịch sử mua hàng</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Lịch sử mua hàng</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dữ liệu mua hàng được tải từ SQL và hiển thị dưới dạng các dòng -->
            <tr>
                <td>Ngày mua</td>
                <td>Số lượng sản phẩm</td>
                <td>Trạng thái</td>
            </tr>
            @foreach (Order o in Model.Orders)
            {
                <tr>
                    <td>@o.OrderDate</td>
                    @{
                        int count = context.OrderDetails.Count(c => c.OrderId == o.OrderId);
                    }
                    <td>@count</td>
                    @if (o.Status == true)
                    {
                        <td>Thanh Toán</td>
                    }
                    else
                    {
                        <td>Chưa Thanh Toán</td>
                    }
                    <td>
                        <a href="/UserClients/CustomerOrder/OrderDetail?id=@o.OrderId">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row mt-5">
        <div class="col-12 d-flex align-items-center justify-content-center text-white">
            <a href="/UserClients/CustomerOrder/Index?IndexPaging=@(Model.IndexPaging-1)&IndexPagingService=@Model.IndexPagingService" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled" style="background-color:burlywood">Previous</a>
            <a href="/UserClients/CustomerOrder/Index?IndexPaging=@(Model.IndexPaging+1)&IndexPagingService=@Model.IndexPagingService" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled" style="background-color:burlywood">Next</a>            <p style="color:black">Page: @Model.IndexPaging/@Model.TotalPage</p>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Lịch sử sử dụng dịch vụ</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dữ liệu mua hàng được tải từ SQL và hiển thị dưới dạng các dòng -->
            <tr>
                <td>Ngày mua</td>
                <td>Số lượng dịch vụ</td>
                <td>Trạng thái</td>
            </tr>
            @foreach (Reservation r in Model.Reservation)
            {
                <tr>
                    <td>@r.CreatedDate</td>
                    @{
                        int count = context.ReservationDetails.Count(e => e.ReservationId == r.ReservationId);
                    }
                    <td>@count</td>
                    @if (r.Status == true)
                    {
                        <td>Đã Thanh Toán</td>
                    }
                    else
                    {
                        <td>Chưa Thanh Toán</td>
                    }
                    <td>
                        <a href="/UserClients/CustomerOrder/OrderDetail?rid=@r.ReservationId">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row mt-5">
        <div class="col-12 d-flex align-items-center justify-content-center text-white">
            <a href="/UserClients/CustomerOrder/Index?IndexPaging=@Model.IndexPaging&IndexPagingService=@(Model.IndexPagingService-1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled1" style="background-color:burlywood">Previous</a>
            <a href="/UserClients/CustomerOrder/Index?IndexPaging=@Model.IndexPaging&IndexPagingService=@(Model.IndexPagingService+1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled1" style="background-color:burlywood">Next</a>
            <p style="color:black">Page: @Model.IndexPagingService/@Model.TotalPageService</p>
        </div>
    </div>
</body>
</html>