﻿@page
@using SWP391_G1.Models
@model SWP391_G1.Pages.UserClients.CustomerOrder.OrderDetailModel
@{
}



<!DOCTYPE html>
<html>
<head>
    <title>Lịch sử mua hàng</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        .order-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .order-item {
            width: 100%;
            display: flex;
            background-color: #ffffff;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s;
            cursor: pointer;
        }

            .order-item:hover {
                transform: translateY(-5px);
            }

        .order-image {
            width: 300px;
            height: 200px;
            background-color: #eee;
            background-size: cover;
            background-position: center;
        }

        .order-details {
            flex: 1;
            padding: 20px;
        }

        .order-name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .order-quantity {
            color: #888;
            margin-bottom: 5px;
        }

        .order-price {
            font-size: 20px;
            color: #e67e22;
            font-weight: bold;
            margin-top: auto;
            text-align: right;
        }

        .order-title {
            color: #000;
        }

        .description{
            color: #888;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="order-container">
        <h1 class="order-title">Lịch sử</h1>
        @foreach (var item in Model.OrderDetail)
        {
            <div class="order-item">
                <img class="order-image" src="@item.Product.ProductImage"></img>
                <div class="order-details">
                    <div class="order-name">@item.Product.ProductName</div>
                    <div class="order-quantity">Số lượng: @item.Quantity</div>
                    <div class="description">Ngày Mua Hàng: @item.Order.OrderDate</div>
                    <div class="description">@item.Product.ProductDescription</div>
                </div>
                <div class="order-price">Tổng thanh toán: @(item.Quantity * item.Product.ProductPrice) VNĐ</div>
            </div>
        }

        @foreach (var item in Model.ReservationDetail)
        {
            <div class="order-item">
                <img class="order-image" src="@item.Service.ServiceImage"></img>
                <div class="order-details">
                    <div class="order-name">@item.Service.ServiceName</div>
                 
                    <div class="description">Ngày Mua sử dụng: @item.ReserTime</div>
                    <div class="description">@item.Service.Description</div>
                </div>
                <div class="order-price">Tổng thanh toán: @(item.ServicePrice += item.ServicePrice) VNĐ</div>
            </div>
        }

    </div>
</body>
</html>