﻿@page
@model SWP391_G1.Pages.Admin.Products.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body id="page-top">
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1>Create</h1>

                    <h4>Product</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post" enctype="multipart/form-data">
                                
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="ProductCategory.ProductName" class="control-label"></label>
                                    <input asp-for="ProductCategory.ProductName" class="form-control" />
                                    <span asp-validation-for="ProductCategory.ProductName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductCategory.ProductPrice" class="control-label"></label>
                                    <input asp-for="ProductCategory.ProductPrice" class="form-control" />
                                    <span asp-validation-for="ProductCategory.ProductPrice" class="text-danger"></span>
                                </div>                                
                                <div class="form-group">
                                    <label asp-for="ProductCategory.ProductImage" class="control-label"></label>
                                        <div>
                                            <input id="btnChoose" class="form-control" required type="file" name="file" accept="image/*" />
                                        </div>
                                        <div style="width:100%">
                                            <img class="w-100" id="blah" src="" alt="your image" />
                                        </div>
                                    <span class="text-danger">@Model.ErrorValidImage</span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductCategory.ProductDescription" class="control-label"></label>
                                    <textarea name="ProductDescription" class="form-control"></textarea>
                                    <span asp-validation-for="ProductCategory.ProductDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductCategory.CategoryId" class="control-label"></label>
                                    <select asp-for="ProductCategory.CategoryId" class="form-control" asp-items="ViewBag.CateId"></select>
                                </div>

                                <div class="form-check">
                                    <input asp-for="ProductCategory.ProductStatus" class="form-check-input" type="radio" name="ProductCategory.ProductStatus" id="food-status-equal-to-0" value="0" checked>
                                    <label class="form-check-label" for="food-status-equal-to-0">
                                        Deactived
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="ProductCategory.ProductStatus" class="form-check-input" type="radio" name="ProductCategory.ProductStatus" id="food-status-not-equal-to-0" value="1">
                                    <label class="form-check-label" for="food-status-not-equal-to-0">
                                        Actived
                                    </label>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-page="Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{
                            await Html.RenderPartialAsync("_ValidationScriptsPartial");
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // Replace "editor1" with the name of the textarea element
    CKEDITOR.replace('ProductDescription');
</script>
<script>
    btnChoose.onchange = evt => {
        const [file] = btnChoose.files
        if (file) {
            const imageUrl = URL.createObjectURL(file);
            blah.src = imageUrl;
        }
        var input = event.target;
        if (input.files && input.files[0]) {
            var fileName = input.files[0].name;
            document.getElementById('fileName').value = fileName;
        }

    }
</script>