﻿@page
@model SWP391_G1.Pages.Admin.Products.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    var checkedTrue = Model.Product.ProductStatus == 1 ? "checked" : "";
    var checkedFalse = Model.Product.ProductStatus == 0 ? "checked" : "";
}
<body id="page-top">
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1>Edit</h1>

                    <h4>Product</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Product.ProductId"/>
                                <input type="hidden" asp-for="Product.ProductImage" />
                                <div class="form-group">
                                    <label asp-for="Product.ProductName" class="control-label"></label>
                                    <input asp-for="Product.ProductName" class="form-control" />
                                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.ProductPrice" class="control-label"></label>
                                    <input asp-for="Product.ProductPrice" class="form-control" />
                                    <span asp-validation-for="Product.ProductPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                        <input id="btnChoose" class="form-control" type="file" name="file" accept="image/*" />
                                        <span class="text-danger">@Model.ErrorValidImage</span>
                                    @if (Model.Product.ProductImage != null)
                                    {
                                        <img class="mt-5" id="blah" style="width: 200px;height:150px" src="@Model.PreImageurl">
                                    }
                                    else
                                    {
                                        <img class="mt-5" id="blah" style="width: 200px;height:150px" src="https://pkgdvietuc.com/wp-content/uploads/2017/08/dich-vu-cham-soc-nguoi-cao-tuoi-tai-nha-viet-uc-400x273.jpg">
                                    }
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.ProductDescription" class="control-label"></label>
                                    <textarea asp-for="Product.ProductDescription" class="form-control" name="ProductDescription"></textarea>
                                    <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Product.CategoryId" class="control-label"></label>
                                    <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CateId"></select>
                                </div>
                                <div class="form-check">
                                    <input asp-for="Product.ProductStatus" class="form-check-input @checkedFalse" type="radio" name="Product.ProductStatus" id="food-status-equal-to-0" value="0" checked>
                                    <label class="form-check-label" for="food-status-equal-to-0">
                                        Deactived
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="Product.ProductStatus" class="form-check-input @checkedTrue" type="radio" name="Product.ProductStatus" id="food-status-not-equal-to-0" value="1">
                                    <label class="form-check-label" for="food-status-not-equal-to-0">
                                        Actived
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-page="./Index">Back to List</a>
                    </div>

                    @section Scripts {
                        @{
                            await Html.RenderPartialAsync("_ValidationScriptsPartial");
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // Replace "editor1" with the name of the textarea element
    CKEDITOR.replace('ProductDescription');
</script>
<script>
    btnChoose.onchange = evt => {
        const [file] = btnChoose.files
        if (file) {
            const imageUrl = URL.createObjectURL(file);
            blah.src = imageUrl;
        }
    }
</script>