﻿@page
@using SWP391_G1.Models;
@model SWP391_G1.Pages.Admin.SideBarProfile.ProfileModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Profile";
    var toastMessage = TempData["ToastMessage"] as string;
    var toastType = TempData["ToastType"] as string;
}
<body id="page-top">
    @if (!string.IsNullOrEmpty(toastMessage))
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    positionClass: 'toast-top-right',
                    closeButton: false
                };

                toastr.@(toastType)('@toastMessage');
            });
        </script>
    }
    <style>
        .image-container {
            text-align: right; /* Đặt hình ảnh ở bên phải */
            .h3

        {
            font-size: 24px;
            color: #333;
            /* Các thuộc tính khác */
        }

        .form-group label {
            font-weight: bold;
            /* Các thuộc tính khác */
        }

        }
        }

        .image-container img {
            max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của vùng chứa */
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
        }

        .notification-box {
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            max-width: 400px;
            text-align: center;
        }

            .notification-box h1 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .notification-box button {
                background-color: #4CAF50;
                color: white;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
            }
    </style>

    @if (HttpContext.Session.GetString("UpdateSuccess") != null)
    {
        <div class="overlay">
            <div class="notification-box">
                <h1>@HttpContext.Session.GetString("UpdateSuccess")</h1>
                <button onclick="redirectToLogin()">OK</button>
            </div>
        </div>
    
        HttpContext.Session.Remove("UpdateSuccess");
    }

    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Profile</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Employee.Id" />

                                <div class="form-group">
                                    <label asp-for="Employee.FullName" class="control-label">Full Name</label>
                                    <input asp-for="Employee.FullName" class="form-control" />
                                    <span asp-validation-for="Employee.FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Employee.Address" class="control-label">Address</label>
                                    <input asp-for="Employee.Address" class="form-control" />
                                    <span asp-validation-for="Employee.Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Employee.City" class="control-label">City</label>
                                    <input asp-for="Employee.City" class="form-control" />
                                    <span asp-validation-for="Employee.City" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Employee.State" class="control-label">State</label>
                                    <input asp-for="Employee.State" class="form-control" />
                                    <span asp-validation-for="Employee.State" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Employee.Country" class="control-label">Country</label>
                                    <input asp-for="Employee.Country" class="form-control" />
                                    <span asp-validation-for="Employee.Country" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Employee.Phone" class="control-label">Phone</label>
                                    <input asp-for="Employee.Phone" class="form-control" />
                                    <span asp-validation-for="Employee.Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Employee.Email" class="control-label">Email</label>
                                    <input asp-for="Employee.Email" class="form-control" />
                                    <span asp-validation-for="Employee.Email" class="text-danger"></span>
                                </div>
                                <input asp-for="Employee.RoleId" class="form-control" hidden />
                                <input asp-for="Employee.Status" class="form-control" hidden />
                                <div class="form-group">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <div class="image-container">
                                <img src="@HttpContext.Session.GetString("avatar")" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- modal-dialog-centered class -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Add Services</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>

</body>
<script>
    function redirectToLogin() {
        window.location.href = "/Admin/Services/Index"; 
    }
</script>
<script>
    $(document).ready(function () {
        // Show the modal when the button is clicked
        $("#addDoctorButton").click(function () {
            $("#addDoctorModal").modal("show");
        });
        $("#loadImage").click(function () {
            var url = $("#Image").val();
            $("#image-preview").attr("src", url);
        });
    });

</script>

<style>
    #toast-container {
        font-size: 16px;
    }

    .toast {
        font-size: 18px;
        padding: 20px;
        display: flex;
        align-items: center;
        height: 80px;
        min-width: 300px;
        max-width: 80%;
        background-color: #28a745;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    tbody tr :hover {
        cursor: pointer;
    }
</style>