﻿@page
@model SWP391_G1.Pages.Admin.Users.HistoryModel
@{
}


@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "User Management";
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
    var toastMessage = TempData["ToastMessage"] as string;
    var toastType = TempData["ToastType"] as string;
}
<body id="page-top">
    @if (!string.IsNullOrEmpty(toastMessage))
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    positionClass: 'toast-top-right',
                    closeButton: false
                };

                toastr.@(toastType)('@toastMessage');
            });
        </script>
    }
    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">User History</h3>

                    </div>
                    <div class="card shadow mb-4"> 
                        <div class="card-body pt-0">
                            <div class="table-responsive">

                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>FullName</th>
                                            <th>Order_Date</th>
                                            <th>Total</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Orders)
                                        {
                                            <tr>
                                                <td>@item.OrderId</td>
                                                <td>@item.User.FullName</td>
                                                <td>@item.OrderDate</td>
                                                <td>@item.Total</td>
                                                @if (item.Status == true)
                                                {
                                                    <td style="color:green">Paid</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red">Unpaid</td>
                                                }
                                               
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                                <div class="row mt-5">
                                    <div class="col-12 d-flex align-items-center justify-content-center text-white">
                                        <a href="/Admin/Users/History?IndexPaging=@(Model.IndexPaging-1)&IndexPagingService=@Model.IndexPaging" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled" style="background-color:burlywood">Previous</a>
                                        <a href="/Admin/Users/History?IndexPaging=@(Model.IndexPaging+1)&IndexPagingService=@Model.IndexPaging" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled" style="background-color:burlywood">Next</a>
                                        <p style="color:black">Page: @Model.IndexPaging/@Model.TotalPage</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   

    <div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- modal-dialog-centered class -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Add Services</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>

</body>
<style>
    #toast-container {
        font-size: 16px;
    }

    .toast {
        font-size: 18px;
        padding: 20px;
        display: flex;
        align-items: center;
        height: 80px;
        min-width: 300px;
        max-width: 80%;
        background-color: #28a745;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    tbody tr :hover {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        // Show the modal when the button is clicked
        $("#addDoctorButton").click(function () {
            $("#addDoctorModal").modal("show");
        });
        $("#loadImage").click(function () {
            var url = $("#Image").val();
            $("#image-preview").attr("src", url);
        });
    });

</script>

