﻿@page
@model SWP391_G1.Pages.Admin.Users.IndexModel
@{
}

@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "User Management";
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
    var toastMessage = TempData["ToastMessage"] as string;
    var toastType = TempData["ToastType"] as string;
}
<body id="page-top">
    @if (!string.IsNullOrEmpty(toastMessage))
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    positionClass: 'toast-top-right',
                    closeButton: false
                };

                toastr.@(toastType)('@toastMessage');
            });
        </script>
    }
    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">User Management</h3>

                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between align-items-center" style="background-color: #f8f9fc;">
                                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="/Admin/Employees/Create">
                                    <i class="fas fa-plus fa-sm text-white-50"></i> Add new User
                                </a>
                                <form method="get">
                                    <div class="d-flex">
                                        <div>
                                            <select id="category" asp-for="PageSize" name="PageSize" onchange="this.form.submit()" class="form-control">
                                                <option value="@Model.UserCount">All</option>
                                                <option value="1">1</option>
                                                <option value="3">3</option>
                                                <option value="5">5</option>
                                                <option value="7">7</option>
                                            </select>
                                        </div>
                                        
                                        <div style="margin-left:15px">
                                            Search: <input type="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary" value="Search">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">

                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>User Id</th>
                                            <th>FullName</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Users)
                                        {
                                            <tr>
                                                <td>@item.UserId</td>
                                                <td>@item.FullName</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Email</td>
                                                @if (item.Status == true)
                                                {
                                                    <td style="color:green">Actice</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red">Deactive</td>
                                                }
                                                <td class="text-center">
                                                    <a type="button" class="btn btn-info" href="/Admin/Users/History?id=@item.UserId">History</a>
                                                    @if (item.Status.HasValue)
                                                    {
                                                        if (item.Status.Value == true)
                                                        {
                                                            <form method="post" asp-page-handler="DisableEmployee" asp-route-id="@item.UserId">
                                                                <button type="submit" class="btn btn-danger">Disable</button>
                                                            </form>
                                                        }
                                                        else
                                                        {
                                                            <form method="post" asp-page-handler="EnableEmployee" asp-route-id="@item.UserId">
                                                                <button type="submit" class="btn btn-success">Enable</button>
                                                            </form>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                                <div class="row mt-5">
                                    <div class="col-12 d-flex align-items-center justify-content-center text-white">
                                        <a href="/Admin/Users/Index?IndexPaging=@(Model.IndexPaging-1)&IndexPagingService=@Model.IndexPaging" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled" style="background-color:burlywood">Previous</a>
                                        <a href="/Admin/Users/Index?IndexPaging=@(Model.IndexPaging+1)&IndexPagingService=@Model.IndexPaging" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled" style="background-color:burlywood">Next</a>
                                        <p style="color:black">Page: @Model.IndexPaging/@Model.TotalPage</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   

    <div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- modal-dialog-centered class -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Add Services</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        </div>
    </div>

</body>
<style>
    #toast-container {
        font-size: 16px;
    }

    .toast {
        font-size: 18px;
        padding: 20px;
        display: flex;
        align-items: center;
        height: 80px;
        min-width: 300px;
        max-width: 80%;
        background-color: #28a745;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    tbody tr :hover {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        // Show the modal when the button is clicked
        $("#addDoctorButton").click(function () {
            $("#addDoctorModal").modal("show");
        });
        $("#loadImage").click(function () {
            var url = $("#Image").val();
            $("#image-preview").attr("src", url);
        });
    });

</script>

