﻿@page
@model SWP391_G1.Pages.Admin.Services.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body id="page-top">
    <div id="wrapper">

        <partial name="_SidebarAdmin" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_TopbarAdmin" />
                <div class="container">
                    <div>
<h1>Create</h1>

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Service</h4>
                                <hr />
                                <form method="post" enctype="multipart/form-data">
                                    <div class="row justify-content-center">
                                        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Service.ServiceName" class="control-label"></label>
                <input asp-for="Service.ServiceName" class="form-control" />
                <span asp-validation-for="Service.ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Price" class="control-label"></label>
                <input asp-for="Service.Price" class="form-control" />
                <span asp-validation-for="Service.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Service.Description" class="control-label"></label>
                <textarea asp-for="Service.Description" name="ServiceDescription" class="form-control"></textarea>
                <span asp-validation-for="Service.Description" class="text-danger"></span>
            </div>
            <input asp-for="Service.Subcriber" class="form-control" value="0" type="hidden"/>
            <div class="form-group">
                <label asp-for="Service.CateId" class="control-label"></label>
                <select asp-for="Service.CateId" class ="form-control" asp-items="ViewBag.CateId"></select>
            </div>

                <input asp-for="Service.Status" class="form-control" value="True" hidden/>
                </div>

                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <span class="text-danger">@Model.ErrorValidImage</span>
                                            <div class="form-group">
                                                <input id="btnChoose" class="form-control" required type="file" name="file" accept="image/*" />
                                            </div>
                                            <div style="width:100%">
                                                <img class="w-100" id="blah" src="" alt="your image" />
                                            </div>
                                        </div>
                                        </div>
                                        
                                        <input id="fileName" type="hidden" name="fileName"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    btnChoose.onchange = evt => {
        const [file] = btnChoose.files
        if (file) {
            const imageUrl = URL.createObjectURL(file);
            blah.src = imageUrl;
        }
        var input = event.target;
        if (input.files && input.files[0]) {
            var fileName = input.files[0].name;
            document.getElementById('fileName').value = fileName;
        }
        
    }
</script>
<script>
    // Replace "editor1" with the name of the textarea element
    CKEDITOR.replace('ServiceDescription');
</script>