﻿@page
@model SWP391_G1.Pages.Admin.Services.EditModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}
<body id="page-top">

    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Service Detail</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row shadow bg-white">
                            <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5 bg-white">
                                    <div class="form-group">
                                        <input id="btnChoose" class="form-control" type="file" name="file" accept="image/*"/>
                                        <span class="text-danger">@Model.ErrorValidImage</span>
                                    </div>
                                    @if (Model.service.ServiceImage != null)
                                    {
                                        <img class="mt-5" id="blah" style="width: 200px;height:150px" src="@Model.PreImageurl">
                                    }
                                    else
                                    {
                                        <img class="mt-5" id="blah" style="width: 200px;height:150px" src="https://pkgdvietuc.com/wp-content/uploads/2017/08/dich-vu-cham-soc-nguoi-cao-tuoi-tai-nha-viet-uc-400x273.jpg">
                                    }
                                </div>
                            </div>

                            <div class="col-md-5 border-right ">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Service Settings</h4>
                                        <input type="hidden" asp-for="service.ServiceId" />
                                        <input type="hidden" asp-for="service.Status" />
                                        <input type="hidden" asp-for="service.Subcriber" />
                                        <input type="hidden" asp-for="service.ServiceImage" />
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">Service Name</label><input type="text" class="form-control" asp-for="service.ServiceName"></div>
                                        <div class="col-md-6">
                                            <label class="labels">Category:</label>
                                            <select asp-for="service.CateId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Description</label><textarea asp-for="service.Description" class="form-control" name="ServiceDescription"></textarea></div>
                                        <div class="col-md-12"><label class="labels">Price</label><input type="number" class="form-control" asp-for="service.Price"></div>
                                    </div>
                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>

<style>
    .labels {
        font-size: 11px
    }
</style>
<script>
    // Replace "editor1" with the name of the textarea element
    CKEDITOR.replace('ServiceDescription');
</script>
<script>
    btnChoose.onchange = evt => {
        const [file] = btnChoose.files
        if (file) {
            const imageUrl = URL.createObjectURL(file);
            blah.src = imageUrl;
        }
    }
</script>