﻿@page
@using SWP391_G1.Models;
@model SWP391_G1.Pages.Admin.Services.IndexModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Service Management";
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
    var toastMessage = TempData["ToastMessage"] as string;
    var toastType = TempData["ToastType"] as string;
}
<body id="page-top">
    @if (!string.IsNullOrEmpty(toastMessage))
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    positionClass: 'toast-top-right',
                    closeButton: false
                };

                toastr.@(toastType)('@toastMessage');
            });
        </script>
    }
    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Service Management</h3>

                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between align-items-center" style="background-color: #f8f9fc;">
                                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="/Admin/Services/Create">
                                    <i class="fas fa-plus fa-sm text-white-50"></i> Add new service
                                </a>
                                <form method="get">
                                    <div class="d-flex">
                                        <div>
                                            <select id="category" asp-for="PageSize" name="PageSize" onchange="this.form.submit()" class="form-control">
                                                <option value="@Model.ServiceCount">All</option>
                                                <option value="1">1</option>
                                                <option value="3">3</option>
                                                <option value="5">5</option>
                                                <option value="7">7</option>
                                            </select>
                                        </div>
                                        <div>
                                            <span>Category:</span>
                                            <select class="form-select" asp-for="CategoryId" name="CategoryId">
                                                <option value=0>All</option>
                                                @foreach (var item in Model.ServiceCategory)
                                                {
                                                    <option value=@item.Id>@item.CateName</option>
                                                }
                                            </select>
                                        </div>
                                        <div style="margin-left:15px">
                                            Search: <input type="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary" value="Search">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">

                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Service Id</th>
                                            <th>Service Name</th>
                                            <th>Category</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Services)
                                        {
                                            <tr>
                                                <td>@item.ServiceId</td>
                                                <td>@item.ServiceName</td>
                                                <td>@item.Cate.CateName</td>
                                                <td>@string.Format("{0:N0} VND", item.Price)</td>
                                                @if (item.Status == true)
                                                {
                                                    <td style="color:green">Actice</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red">Deactive</td>
                                                }
                                                <td class="text-center">
                                                    <a type="button" class="btn btn-info" href="/Admin/Services/Edit?id=@item.ServiceId">Update</a>
                                                    @if (item.Status.HasValue)
                                                    {
                                                        if (item.Status.Value)
                                                        {
                                                            <form method="post" asp-page-handler="DisableService" asp-route-id="@item.ServiceId">
                                                                <button type="submit" class="btn btn-danger">Disable</button>
                                                            </form>
                                                        }
                                                        else
                                                        {
                                                            <form method="post" asp-page-handler="EnableService" asp-route-id="@item.ServiceId">
                                                                <button type="submit" class="btn btn-success">Enable</button>
                                                            </form>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between">
                                    <span>Showing @(Model.IndexPaging * 10 - 9) to @(Model.IndexPaging * 10) of @Model.ServiceCount entries</span>
                                    <nav>
                                        <ul class="pagination">
                                            <li class="page-item @prevDisabled"><a class="page-link @prevDisabled" href="/Admin/Services/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging-1)&PageSize=@Model.PageSize">Previous</a></li>
                                            @for (int i = 1; i <= Model.TotalPage; i++)
                                            {
                                                <li class="page-item"><a class="page-link" href="/Admin/Services/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@i&PageSize=@Model.PageSize">@i</a></li>
                                            }
                                            <li class="page-item @nextDisabled"><a class="page-link @nextDisabled" href="/Admin/Services/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging+1)&PageSize=@Model.PageSize">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
@*    <div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- modal-dialog-centered class -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Add Services</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>*@

</body>

@*<script>
    var numbers = document.getElementsByClassName("formattedNumber");
    var number = 10000000;
    var formattedNumber = new Intl.NumberFormat('vi-VN').format(number);

    for (var i = 0; i < numbers.length; i++) {
        numbers[i].textContent = formattedNumber;
    }
</script>*@
<style>
    #toast-container {
        font-size: 16px;
    }

    .toast {
        font-size: 18px;
        padding: 20px;
        display: flex;
        align-items: center;
        height: 80px;
        min-width: 300px;
        max-width: 80%;
        background-color: #28a745;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    tbody tr :hover {
        cursor: pointer;
    }
</style>