﻿@page
@model SWP391_G1.Pages.Admin.ProductCategories.IndexModel

@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Product Management";
    var toastMessage = TempData["ToastMessage"] as string;
    var toastType = TempData["ToastType"] as string;
}
<body id="page-top">
    @if (!string.IsNullOrEmpty(toastMessage))
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    positionClass: 'toast-top-right',
                    closeButton: false
                };

                toastr.@(toastType)('@toastMessage');
            });
        </script>
    }
    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Product Category Management</h3>

                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between align-items-center" style="background-color: #f8f9fc;">
                                <a id="" href="/admin/productcategories/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">

                                    <i class="fas fa-plus fa-sm text-white-50"></i> Add new product category
                                </a>
                                <form method="get">
                                    <div class="d-flex">
                                        <div style="margin-left:15px">
                                            Search: <input type="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary" value="Search">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">

                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Category Id</th>
                                            <th>Category Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ProductCategory)
                                        {
                                            <tr>
                                                <td>@item.CategoryId</td>
                                                <td>@item.CategoryName</td>
                                                <td class="text-center">
                                                    <a type="button" class="btn btn-info" href="/Admin/ProductCategories/Edit?id=@item.CategoryId">Update</a>                                                  
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



</body>



<style>
    #toast-container {
        font-size: 16px;
    }

    .toast {
        font-size: 18px;
        padding: 20px;
        display: flex;
        align-items: center;
        height: 80px;
        min-width: 300px;
        max-width: 80%;
        background-color: #28a745;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    tbody tr :hover {
        cursor: pointer;
    }
</style>