﻿@page
@model SWP391_G1.Pages.UserClients.Payment.PaymentConfirmModel
@{
}
<style>
    body{
        background-color:beige;
    }
    .container-payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    table {
        border-collapse: collapse;
        width: 1000px;
        height: inherit;
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        font-size:20px;
        color:black;
    }

        table td {
            padding: 5px;
        }

    h2 {
        text-align: center;
        color: navy;
    }
</style>
<div class="container-payment">
    @if (!Model.paymentResponse.TransactionId.Equals("0"))
    {
        <h2>Payment successfull!</h2>
    }
    else
    {
        <h2>Payment fail!</h2>
    }
    <table>
        <tr>
            <td>
                OrderDescription
            </td>
            <td>
                @Model.paymentResponse.OrderDescription
            </td>
        </tr>
        <tr>
            <td>
                TransactionId
            </td>
            <td>
                @Model.paymentResponse.TransactionId
            </td>
        </tr>
        <tr>
            <td>
                OrderId
            </td>
            <td>
                @Model.paymentResponse.OrderId
            </td>
        </tr>
        <tr>
            <td>
                PaymentMethod
            </td>
            <td>
                @Model.paymentResponse.PaymentMethod
            </td>
        </tr>
        <tr>
            <td>
                PaymentId
            </td>
            <td>
                @Model.paymentResponse.PaymentId
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <form asp-page-handler="PaymentCheck" method="post">
                    <button class="btn btn-dark">Confirm Payment And Check</button>
                </form>
            </td>
        </tr>
    </table>
</div>