﻿@page
@model SWP391_G1.Pages.Admin.Blogs.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body id="page-top">
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">
<h1>Edit</h1>

<h4>Blog</h4>
<hr />
<div class="row">
            <form method="post" enctype="multipart/form-data">
            <div class="row justify-content-center">
            <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Blog.BlogId" />
            <div class="form-group">
                <label asp-for="Blog.BlogTitle" class="control-label"></label>
                <input asp-for="Blog.BlogTitle" class="form-control" />
                <span asp-validation-for="Blog.BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.DateModified" class="control-label"></label>
                <input asp-for="Blog.DateModified" class="form-control" />
                <span asp-validation-for="Blog.DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Description" class="control-label"></label>
                <textarea asp-for="Blog.Description" class="form-control" name="BlogDescription"></textarea>
                <span asp-validation-for="Blog.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.CateId" class="control-label"></label>
                <select asp-for="Blog.CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                <span asp-validation-for="Blog.CateId" class="text-danger"></span>
            </div>
            </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input id="btnChoose" class="form-control" required type="file" name="file" />
                                    </div>
                                    <div style="width:100%">
                                        <img class="w-100" id="blah" src="@Model.Blog.BlogImageUrl" alt="your image" />
                                    </div>
                                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>
</div>
</div>
</div>
</body>
<script>
    // Replace "editor1" with the name of the textarea element
    CKEDITOR.replace('BlogDescription');
</script>
<script>
    btnChoose.onchange = evt => {
        const [file] = btnChoose.files
        if (file) {
            const imageUrl = URL.createObjectURL(file);
            blah.src = imageUrl;
        }
    }
</script>