﻿@page
@model SWP391_G1.Pages.Admin.Blogs.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
}
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Blog Management</h3>

                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between align-items-center" style="background-color: #f8f9fc;">
                                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="/Admin/Blogs/Create">
                                    <i class="fas fa-plus fa-sm text-white-50"></i> Add new blog
                                </a>
                                <form method="get">
                                    <div class="d-flex">
                                        <div>
                                            <select asp-for="PageSize" name="PageSize" onchange="this.form.submit()" class="form-control">
                                                <option value="@Model.BlogCount">All</option>
                                                <option value="1">1</option>
                                                <option value="3">3</option>
                                                <option value="5">5</option>
                                                <option value="7">7</option>
                                            </select>
                                        </div>
                                        <div>
                                            <span>Category:</span>
                                            <select class="form-select" asp-for="CategoryId" name="CategoryId">
                                                <option value=0>All</option>
                                                @foreach (var item in Model.BlogCategory)
                                                {
                                                    <option value=@item.Id>@item.CateName</option>
                                                }
                                            </select>
                                        </div>
                                        <div style="margin-left:15px">
                                            Search: <input type="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary" value="Search">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">

                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Blog Id</th>
                                            <th>Blog Title</th>
                                            <th>Date Modified</th>
                                            <th>Category</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Blogs)
                                        {
                                            <tr>
                                                <td>@item.BlogId</td>
                                                <td>@item.BlogTitle</td>
                                                <td>@item.DateModified</td>
                                                <td>@item.Cate.CateName</td>
                                                <td class="text-center">
                                                    <a type="button" class="btn btn-info" href="/Admin/Blogs/Edit?id=@item.BlogId">Update</a>
                                                    <a type="button" class="btn btn-danger" href="/Admin/Blogs/Delete?id=@item.BlogId">Delete</a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between">
                                    <span>Showing @(Model.IndexPaging * 10 - 9) to @(Model.IndexPaging * 10) of @Model.BlogCount entries</span>
                                    <nav>
                                        <ul class="pagination">
                                            <li class="page-item @prevDisabled"><a class="page-link @prevDisabled" href="/Admin/Blogs/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging-1)&PageSize=@Model.PageSize">Previous</a></li>
                                            @for (int i = 1; i <= Model.TotalPage; i++)
                                            {
                                                <li class="page-item"><a class="page-link" href="/Admin/Blogs/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@i&PageSize=@Model.PageSize">@i</a></li>
                                            }
                                            <li class="page-item @nextDisabled"><a class="page-link @nextDisabled" href="/Admin/Blogs/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging+1)&PageSize=@Model.PageSize">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

 

</body>

<style>

    tbody tr :hover {
        cursor: pointer;
    }
</style>