﻿@page
@model SWP391_G1.Pages.Admin.ServiceCategories.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body id="page-top">
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">
<h1>Edit</h1>

<h4>ServiceCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServiceCategory.Id" />
            <div class="form-group">
                <label asp-for="ServiceCategory.CateName" class="control-label"></label>
                <input asp-for="ServiceCategory.CateName" class="form-control" />
                <span asp-validation-for="ServiceCategory.CateName" class="text-danger"></span>
            </div>
                                <div class="form-group">
                                    <input asp-for="ServiceCategory.Status" type="radio" value="true">Active
                                    <input asp-for="ServiceCategory.Status" type="radio" value="false">Deactive
                                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>
</div>
</div>
</div>
</body>