﻿@page
@using SWP391_G1.Models;
@model SWP391_G1.Pages.Admin.ServiceCategories.IndexModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Service Management";
    var toastMessage = TempData["ToastMessage"] as string;
    var toastType = TempData["ToastType"] as string;
}
<body id="page-top">
    @if (!string.IsNullOrEmpty(toastMessage))
    {
        <script>
            $(document).ready(function () {
                toastr.options = {
                    positionClass: 'toast-top-right',
                    closeButton: false
                };

                toastr.@(toastType)('@toastMessage');
            });
        </script>
    }
    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_SidebarAdmin" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <partial name="_TopbarAdmin" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Service Category Management</h3>

                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="d-flex justify-content-between align-items-center" style="background-color: #f8f9fc;">
                                <a id="" href="/admin/servicecategories/create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">

                                    <i class="fas fa-plus fa-sm text-white-50"></i> Add new service category
                                </a>
                                <form method="get">
                                    <div class="d-flex">                                        
                                        <div style="margin-left:15px">
                                            Search: <input type="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary" value="Search">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">

                                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Category Id</th>
                                            <th>Category Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ServiceCategory)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.CateName</td>
                                                @if (item.Status == true)
                                                {
                                                    <td style="color:green">Active</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red">Deactive</td>
                                                }
                                                <td class="text-center">
                                                    <a type="button" class="btn btn-info" href="/Admin/ServiceCategories/Edit?id=@item.Id">Update</a>
                                                    @if (item.Status.HasValue)
                                                    {
                                                        if (item.Status.Value)
                                                        {
                                                            <form method="post" asp-page-handler="DisableService" asp-route-id="@item.Id">
                                                                <button type="submit" class="btn btn-danger">Disable</button>
                                                            </form>
                                                        }
                                                        else
                                                        {
                                                            <form method="post" asp-page-handler="EnableService" asp-route-id="@item.Id">
                                                                <button type="submit" class="btn btn-success">Enable</button>
                                                            </form>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

   

    <div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <!-- modal-dialog-centered class -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Add Services</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @*<form method="post" id="addDoctorForm">
                <div class="modal-body">

                <div class="form-group">
                <label for="serviceName">Service Name:</label>
                <input type="text" class="form-control" id="serviceName" asp-for="Service.ServiceName" required>
                <span asp-validation-for="Service.ServiceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label for="Category">Category:</label>
                <select asp-for="Service.CateId" required class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="Description" asp-for="Service.Description" required>
                <span asp-validation-for="Service.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="Price" asp-for="Service.Price" required>
                <span asp-validation-for="Service.Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                <label for="status">Status:</label>
                <div class="form-check">
                <input asp-for="Service.Status" class="form-check-input" type="radio" name="Service.Status" id="service-status-equal-to-0" value="0" checked>
                <label class="form-check-label" for="service-status-equal-to-0">
                Deactived
                </label>
                </div>
                <div class="form-check">
                <input asp-for="Service.Status" class="form-check-input" type="radio" name="Service.Status" id="food-status-not-equal-to-0" value="1">
                <label class="form-check-label" for="service-status-not-equal-to-0">
                Actived
                </label>
                </div>
                </div>
                <div class="form-group">
                <label for="image">Image :</label>
                <input type="text" class="form-control" id="Image" asp-for="Service.ServiceImage" required>
                <input type="button" id="loadImage" value="Load Image" class="btn btn-primary" />
                <span asp-validation-for="Service.ServiceImage" class="text-danger"></span>
                <img id="image-preview" src="" style="width:500px;height:300px">
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="saveDoctorButton">Add</button>
                </div>
                </form>*@
            </div>
        </div>
    </div>

</body>



<style>
    #toast-container {
        font-size: 16px;
    }

    .toast {
        font-size: 18px;
        padding: 20px;
        display: flex;
        align-items: center;
        height: 80px;
        min-width: 300px;
        max-width: 80%;
        background-color: #28a745;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    tbody tr :hover {
        cursor: pointer;
    }
</style>