﻿@page
@using SWP391_G1.Models;
@model SWP391_G1.Pages.UserClients.Services.IndexModel
@{
    ViewData["Title"] = "Our Services";
    var prevDisabled = Model.IndexPaging == 1 ? "disabled" : "";
    var nextDisabled = Model.IndexPaging == Model.TotalPage ? "disabled" : "";
}
<link href="~/css/productmenu.css" rel="stylesheet" />
<div class="menu pb-3" style="background-color:white">
    <div class="row pt-5 mb-5 me-0 ms-0">
        <h1 class="text-center">Our Services</h1>
    </div>
    <div class="row pe-0 me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5">
            <form>
                <p class="text-white">Category:</p>
                <div class="input-group mt-3">
                    <select class="form-select" asp-for="CategoryId" name="CategoryId" onchange="this.form.submit()">
                        <option value=0>All</option>
                        @foreach (var item in Model.ServiceCategory)
                        {
                            <option value=@item.Id>@item.CateName</option>
                        }
                    </select>
                </div>

                <div class="input-group mt-3">
                    <input type="search" class="form-control rounded me-1" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-for="SearchString" />
                   
                </div>
                <button type="submit" class="btn btn-outline-primary btn_custom" style="margin:10px">Search</button>
            </form>
        </div>
        <div class="col-8 list-item">
            <div class="row">
                @foreach (var item in Model.Services)
                {
                    <div class="col-4 mt-2 mb-3 d-flex align-items-center justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@item.ServiceImage" alt="Food Image">
                            <div class="card-body">
                                <h5 class="card-title">@item.ServiceName</h5>
                                <p class="card-text">Category: @item.Cate.CateName</p>
                                <p class="card-text">UnitPrice: @item.Price.ToString("N0")</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-2">
                                <input type="button" class="btn btn-outline-primary btn_addtocart" id="addCartButton" value="Add To Cart" data-card-id="@item.ServiceId" data-bs-toggle="modal" data-bs-target="#addtoReservationCart" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row me-0 ms-0">
        <div class="col-2 ms-5 me-5 ps-5"></div>
        <div class="col-8">
            <div class="row mt-5">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <a href="/UserClients/Services/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging-1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @prevDisabled" style="background-color:burlywood">Previous</a>
                    <a href="/UserClients/Services/index?CategoryId=@Model.CategoryId&SearchString=@Model.SearchString&IndexPaging=@(Model.IndexPaging+1)" class="btn btn-outline-primary me-3 btn_custom btn_pre_next @nextDisabled" style="background-color:burlywood">Next</a>
                    Page: @Model.IndexPaging/@Model.TotalPage
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>


<!--   Add Cart Modal    -->
<div class="modal fade" id="addtoReservationCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <!-- modal-dialog-centered class -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add Services To Cart</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-page-handler="AddToCart">
            <div class="modal-body">
            <input type="hidden" id="aspForElement" asp-for="cart.ServiceId" />
            <div class="form-group">
                        <label for="reserTime">Reservation Time Book:</label>
                        <input type="datetime-local" class="form-control" id="reserTime" asp-for="cart.ReservationTime" required value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
            </div>
            <div class="form-group">
                        <label for="staffId">Choose staff you want:</label>
                        <select asp-for="cart.StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
            </div>

            
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Show the modal when the button is clicked
        $("#addCartButton").click(function () {
            $("#addtoReservationCart").modal("show");
        });
        $('.btn_addtocart').click(function () {
            var serviceId = $(this).closest('.card-body').find('.card-id').text();
            console.log(serviceId);
            $('#serviceName').val(serviceId);
        });
    });

</script>
<script>
    var selectedCardId = null;

    document.querySelectorAll('.btn_addtocart').forEach(function (button) {
        button.addEventListener('click', function () {
            var cardId = this.getAttribute('data-card-id');
            selectedCardId = cardId;
            console.log(selectedCardId);
            // Gửi giá trị selectedCardId đến máy chủ hoặc thực hiện các hành động khác tùy theo yêu cầu của bạn.
            document.getElementById('aspForElement').value = cardId;
        });
    });
</script>
@*<script>
    // Lấy thời gian hiện tại
    var currentDateTime = new Date().toISOString().slice(0, 16);

    // Đặt giá trị thời gian hiện tại cho trường datetime-local
    document.getElementById("reserTime").value = currentDateTime;
</script>*@