﻿@page
@model SWP391_G1.Pages.Admin.Employees.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body id="page-top">
    <div id="wrapper">

        <partial name="_SidebarAdmin" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_TopbarAdmin" />
                <div class="container">
                    <div>
<h1>Create</h1>


<div class="card" >
    <div class="card-body">
                        <h4 class="card-title">Employee</h4>
                        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.UserName" class="control-label"></label>
                <input asp-for="Employee.UserName" class="form-control" />
                <span asp-validation-for="Employee.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Password" class="control-label"></label>
                <input asp-for="Employee.Password" class="form-control" />
                <span asp-validation-for="Employee.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.FullName" class="control-label"></label>
                <input asp-for="Employee.FullName" class="form-control" />
                <span asp-validation-for="Employee.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Address" class="control-label"></label>
                <input asp-for="Employee.Address" class="form-control" />
                <span asp-validation-for="Employee.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.City" class="control-label"></label>
                <input asp-for="Employee.City" class="form-control" />
                <span asp-validation-for="Employee.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.State" class="control-label"></label>
                <input asp-for="Employee.State" class="form-control" />
                <span asp-validation-for="Employee.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Country" class="control-label"></label>
                <input asp-for="Employee.Country" class="form-control" />
                <span asp-validation-for="Employee.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Phone" class="control-label"></label>
                <input asp-for="Employee.Phone" class="form-control" />
                <span asp-validation-for="Employee.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <input asp-for="Employee.RoleId" value="2" class="form-control" hidden/>
                                    <input asp-for="Employee.Status" value="True" class="form-control" hidden />
                                    <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
                    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>
</div>
            </div>
        </div>
    </div>
</body>