﻿@page
@model SWP391_G1.Pages.Admin.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body id="page-top">
    <div id="wrapper">

        <partial name="_SidebarAdmin" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_TopbarAdmin" />
<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.UserName" class="control-label"></label>
                <input asp-for="Employee.UserName" class="form-control" />
                <span asp-validation-for="Employee.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Password" class="control-label"></label>
                <input asp-for="Employee.Password" class="form-control" />
                <span asp-validation-for="Employee.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.FullName" class="control-label"></label>
                <input asp-for="Employee.FullName" class="form-control" />
                <span asp-validation-for="Employee.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Address" class="control-label"></label>
                <input asp-for="Employee.Address" class="form-control" />
                <span asp-validation-for="Employee.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.City" class="control-label"></label>
                <input asp-for="Employee.City" class="form-control" />
                <span asp-validation-for="Employee.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.State" class="control-label"></label>
                <input asp-for="Employee.State" class="form-control" />
                <span asp-validation-for="Employee.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Country" class="control-label"></label>
                <input asp-for="Employee.Country" class="form-control" />
                <span asp-validation-for="Employee.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Phone" class="control-label"></label>
                <input asp-for="Employee.Phone" class="form-control" />
                <span asp-validation-for="Employee.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
                <input asp-for="Employee.RoleId" class="form-control" hidden/>
                <input asp-for="Employee.Status" class="form-control" hidden/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
            </div>
        </div>
    </div>
</body>