﻿<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SakuraCosmetic</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-page="/Admin/Dashboard/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Admin/Employees/Index">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Employees</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Admin/Services/Index">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Service</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" asp-page="/Admin/Blogs/Index">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Blogs</span>
        </a>
    </li>
    <hr class="sidebar-divider">  
    <li class="nav-item">
        <a class="nav-link" asp-page="/Admin/Products/Index">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Products</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Categories</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Categories:</h6>
                <a class="collapse-item" asp-page="/Admin/ProductCategories/Index">
                    <i class="fas fa-fw fa-user-md"></i>
                    <span>Product Category</span>
                </a>
                <a class="collapse-item" asp-page="/Admin/ServiceCategories/Index">
                    <i class="fas fa-fw fa-user-md"></i>
                    <span>Service Categories</span>
                </a>
                <a class="collapse-item" asp-page="/Admin/BlogCategories/Index">
                    <i class="fas fa-fw fa-user-md"></i>
                    <span>Blog Categories</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>
<!-- End of Sidebar -->
